body {
    background-color: fuchsia;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 125px;
    background-color: lime;
    margin: -8px;
}

.main-nav {
    font-size: 25px;
    display: inline;
    margin-right: 100px;
    font-weight: bold;
}

.main-nav :hover {
    color: fuchsia;
}

a {
    font-family: 'Comic Sans MS';
    border-bottom: 3px solid red;
    margin: 10px;
    text-decoration: none;
    color: red;
}

h1 {
    font-family: 'Comic Sans MS';
    color: red;
    border-left: 100px solid cyan;
    border-top: 5px solid cyan;
    border-bottom: 5px solid cyan;
    font-size: 60px;
    width: 300px;
    background-color: cyan;
    display: flex;
    align-items: flex-start;
}

.banner {
    display: block;
    position: relative;
    height: 200px;
    width: 100%;
    text-align: center;
    color: red;
    margin-top: 8px;
}

.BannerText {
    padding: 5px;
    background-color: cyan;
    z-index: 100;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 15px;
}

h2 {
    font-family: 'Comic Sans MS';
    width: 240px;
    text-align: right;
    font-size: 65px;
    padding-right: 10px;
}

main {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flex-container {
    position: absolute;
    top: 680px;
    background-color: olive;
    border-left: 3px solid red;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 190px;
    margin-left: 372px;
}

.images {
    border: 3px solid red;
    max-height: 100px;
    width: 590px;
    margin: 5px;
}

.image-1 {
    border: 3px solid red;
    width: 1200px;
    max-height: 400px;
    margin: 5px;
}

.coolsanta {
    opacity: .5;
    position: absolute;
    bottom: 260px;
    right: 62px;
    background-color: red;
    color: cyan;
    padding-left: 10px;
    padding-right: 20px;
}

.efan {
    opacity: .5;
    position: absolute;
    bottom: 10px;
    right: 62px;
    background-color: red;
    color: cyan;
    padding-left: 10px;
    padding-right: 20px;
}

.gometrydash {
    opacity: .5;
    position: absolute;
    bottom: 126px;
    right: 62px;
    background-color: red;
    color: cyan;
    padding-left: 10px;
    padding-right: 20px;
}

.coolguydaniel {
    opacity: .5;
    position: absolute;
    bottom: 10px;
    right: 670px;
    background-color: red;
    color: cyan;
    padding-left: 10px;
    padding-right: 20px;
}

.nft {
    opacity: .5;
    position: absolute;
    bottom: 126px;
    right: 670px;
    background-color: red;
    color: cyan;
    padding-left: 10px;
    padding-right: 20px;
}

.efan {
    position: absolute;
    bottom: 10px;
    right: 62px;
    background-color: red;
    color: cyan;
    padding-left: 10px;
    padding-right: 20px;
}

.contact-header {
    position: absolute;
    top: 1370px;
}

.contactme {
    position: absolute;
    left: 0px;
    top: 1460px;
    height: 120px;
    width: 69vw;
    background-color: olive;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 3px solid red;
    margin: auto auto auto 380px;
}

.contactme :hover{
    color: cyan;
    border-bottom: 3px solid
}

.aboutme {
    background-color: brown;
    border-left: 3px solid red;
    padding-left: 50px;
    font-family: 'Comic Sans MS';
    position: absolute;
    top: 390px;
    left: 300px;
    right: 100px;
    margin: auto auto auto 80px;
}

/* banner positioning */

@media screen and (max-width: 1200px) {
    .banner {
        max-height: 50%;
    }
}

/* bannertext positioning */

@media screen and (max-width: 1200px) {
    .BannerText {
        top: 30px;
        bottom: 110px;
    }
}

@media screen and (max-width: 1000px) {
    .BannerText {
        top: 30px;
        bottom: 130px;
        font-size: 10px;
    }
}

/* header positioning */

@media screen and (max-width: 1200px) {
    header {
        left: 0;
        right: 0;
        margin: none;
    }
}

@media screen and (max-width: 1000px) {
    header {
        max-height: 50px;
    }
}

/* h1 positioning */

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 50px;
        width: 250px;
    }
}

@media screen and (max-width: 1000px) {
    h1 {
        font-size: 25px;
        width: 125px;
    }
}

/* main positioning*/

@media screen and (max-width: 1000px) {
    main {
        margin-left: 0;
    }
}

/* h2 positioning */

@media screen and (max-width: 1200px) {
    h2 {
        font-size: 40px;
        margin-left: -70px;
    }
}

@media screen and (max-width: 1000px) {
    h2 {
        font-size: 20px;
        margin-left: -140px;
    }
}

/* main-nav positioning */

@media screen and (max-width: 1200px) {
    .main-nav {
        font-size: 20px;
    }
}

@media screen and (max-width: 1000px) {
    .main-nav {
        font-size: 10px;
        margin-right: 25px;
    }
}

/* aboutme positioning*/

@media screen and (max-width: 1200px) {
    .aboutme {
        font-size: 10px;
        line-height: 1;
        min-width: 10vw;
        min-height: 50px;
    }
}

@media screen and (max-width:1200px) {
    .aboutme {
        top: 350px;
        margin-left: 15px;
        margin-right: 1vw;
    }
}

@media screen and (max-width:1000px) {
    .aboutme {
        font-size: 10px;
        top: 180px;
        margin-left: -150px;
        margin-right: 1vw;
    }
}

/* flex-container positioning */

@media screen and (max-width: 1650px) {
    .flex-container {
        width: 50vw;
    }
}

@media screen and (max-width: 1200px) {
    .flex-container {
        top: 500px;
        margin-left: 310px;
    }
}

@media screen and (max-width: 1000px) {
    .flex-container {
        left: 150px;
        top: 320px;
        margin-left: 0px;
    }
}

/* Image sizing */

@media screen and (max-width:1200px) {
    .images {
        min-width: 10vw;
    }
}

@media screen and (max-width:1200px) {
    .image-1 {
        min-width: 10vw;
    }
}

/* contactme positioning*/

@media screen and (max-width: 1650px) {
    .contactme{
        width: 50vw;
    }
}

@media screen and (max-width: 1200px) {
    .contactme {
        bottom: -600px;
        height: 30px;
    }
}

@media screen and (max-width: 1200px) {
    .contactme{
        font-size: 10px;
        margin-left: 320px;
    }
}

@media screen and (max-width: 1000px) {
    .contactme{
        bottom: -550px;
        left: 50px;
        font-size: 10px;
        margin-left: 100px;
    }
}

